.main-profile-name {
  margin-bottom: 1.5rem;
  &__container {
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    color: #d4d4d4;
  }
  &__date {
    color: #969696;
    font-weight: 600;
  }
}
