.password-req {
  width: 100%;
  margin-bottom: 1rem;
  &__error {
    position: relative;
    font-size: 14px;
    padding-left: 20px;
    color: #9d9d9d;
    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background-color: #9d9d9d;
      border-radius: 50%;
      background: url("../../../public/static/delete.svg") no-repeat;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translate(0, -50%);
    }
    &.fixed::before {
      border: none;
      background: url("../../../public/static/done.svg") no-repeat;
      background-size: cover;
    }
  }
}
