.sign {
  &__container {
    height: 100vh;
    background: linear-gradient(45deg, #474747 40%, #b7b7b7);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh 0;
  }
  &__brand {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 5px #000000b7;
    & span {
      color: #1c1c1c;
      text-shadow: 0 0 5px #ffffffbb;
    }
  }
}
