.categories {
  padding-top: 1rem;

  &__container {
    & button {
      display: block;
      color: #0d6efd;
      position: relative;
      padding-left: 1.5625rem;
      font-weight: 600;
      background-color: transparent;
      border: 0;
      margin: 2rem auto;
      &::before {
        content: url(../../../public/static/plus.svg);
        fill: #0d6efd;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -40%);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
  &__heading {
    width: fit-content;
    font-size: 12px;
    font-weight: 700;
  }
  &__list {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;

    margin-top: 0.5rem;
    & input {
      width: 200px;
      outline: 0;
      padding: 5px 25px 5px 5px;
      text-transform: capitalize;
      background-color: transparent;
      width: max-content;
      border: none;
      font-weight: 500;
      color: #0d6efd;
      border-bottom: 2px solid #0d6efd;
      border-radius: 3px;
      &:focus {
        box-shadow: 0 0 5px #0d6dfd6d;
      }
      &:active {
        transform: scale(0.98);
      }
      &:active ~ span {
        transform: translate(0, -50%) scale(0.95);
      }
      &:active ~ span::after {
        transform: scale(0.95);
      }
    }
    & span {
      display: block;
      position: absolute;
      top: 50%;
      left: calc(100% - 20px);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: red;
      transform: translate(0, -50%);
      &::after {
        content: attr(count);
        font-size: 10px;
        position: absolute;
        top: -0.98px;
        left: 1px;
        font-weight: 700;
        color: white;
      }
    }
  }
}
