.item {
  width: 100%;
  height: 52px;
  position: relative;
  margin-bottom: 0.5rem;
  z-index: 5;
  &__buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 5rem;
    position: relative;
    z-index: 1;
  }
  &__button {
    width: 250px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    font-weight: 700;
    position: absolute;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    &.done {
      background-color: #098b53;
      padding-right: 1rem;
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
      & svg {
        fill: #ffffff;
        margin-right: 4px;
      }
    }
    &.delete {
      background-color: #961811;
      justify-content: flex-end;
      padding-right: 1rem;
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
      & svg {
        fill: #ffffff;
        margin-right: 4px;
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 1.3rem;
    right: 0;
    bottom: 0;
  }
  &__date {
    position: relative;
    margin-left: 1.3rem;
    color: #acacac;
    font-weight: 700;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    &::before {
      content: "";
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      position: absolute;
      z-index: 6;
      background-color: #ffffffd9;
      top: 50%;
      left: -50%;
      transform: translate(-10%, -50%);
      border-radius: 50%;
      border: 2px solid #767676;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
    }
    & span {
      width: 52px;
      position: absolute;
      font-size: 12px;
      top: 100%;
      right: -15px;
      color: #767676;
    }
  }
  &__name {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 1.5rem;
    transform: translateX(0px);
    background: linear-gradient(45deg, #1a1a1a 40%, #898989);

    -webkit-transition: color 500ms ease;
    -moz-transition: color 500ms ease;
    -ms-transition: color 500ms ease;
    -o-transition: color 500ms ease;
    transition: color 500ms ease;
  }
  &__title {
    text-transform: capitalize;
    transition: all 0.5s ease-out;
    color: #cfcfcf;
  }
  &__category {
    text-transform: capitalize;
    transition: all 0.5s ease-out;
    color: #1a1a1a;
  }
}
.completed {
  .item__date::before {
    border: 2px solid #098b53;
    background-color: #098b53;
  }
  .item__name {
    background: linear-gradient(45deg, #1a1a1a 40%, #098b53);
  }
  .item__title {
  }
  .item__category {
    color: #1a1a1a;
  }
}
