.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.navbar {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__brand {
    position: relative;
    z-index: 11;
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 5px #000000b7;
    & span {
      color: #1a1a1a;
      text-shadow: 0 0 5px #ffffffbb;
    }
  }
  &__icon {
    display: none;
  }
  &__list {
  }
  &__item {
    font-weight: 500;
    letter-spacing: 1px;
    color: #a5a5a5;
    margin-right: 1rem;
    &:hover {
      color: #cccccc;
    }
    &:active {
      color: white;
    }
  }
}
.image {
  margin: 0;
  padding: 0 50px 0 0;
  position: relative;
  &__profile {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    left: calc(100% - 42px);
    top: -6.5px;
    &.loaded img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.skeleton img {
      display: none;
    }
    &.skeleton {
      background: no-repeat url(../../../public/static/user.svg) center;
      background-size: 50%;
      background-color: #a5a5a5;
    }
  }
}
@media (max-width: 767.98px) {
  .header {
  }
  .navbar {
    &__body {
      position: fixed;
      width: 100%;
      top: 0;
      left: 100%;
      transition: all 0.5s ease-out;
      z-index: 10;
    }
    &__icon {
      display: block;
      background: no-repeat url(../../../public/static/menu.svg);
      background-position: 50% 50%;
      border: 1px solid #ffffff;
      width: 35px;
      height: 35px;
      border-radius: 4px;
      position: absolute;
      right: 1rem;
      z-index: 101;
      transition: all 0.5s ease-out;
      &:active {
        box-shadow: 0 0 3px 1px #eeeeee;
      }
    }
    &__list {
      position: relative;
      background-color: #000000b8;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 60px;
      z-index: 0;
    }
    &__item {
      color: #cdcdcd;
      margin: 0.75rem 1rem;
      &:active {
        color: rgb(26, 26, 26);
      }
    }
  }
  .image {
    padding: 0 0 0 50px;
    &__profile {
      left: 10px;
      &.loaded img {
      }
      &.skeleton img {
      }
      &.skeleton {
      }
    }
  }
  .open .navbar__icon {
    background: no-repeat url(../../../public/static/cross.svg) center;
  }
  .open .navbar__body {
    left: 0;
  }
}
