.reset-password {
  &__container {
  }
  &__brand {
    position: relative;
    display: flex;
    justify-content: center;
    top: 15vh;
    z-index: 101;
  }
  &__heading {
    text-align: center;
    color: #767676;
    font-size: 24px;
    margin-bottom: 1rem;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
  &__close {
    background-color: #767676;
    color: #f0f0f0;
    font-size: 1rem;
    font-weight: 700;
    &:active {
      box-shadow: 0 0 0 5px #7676769e;
    }
  }
  &__submit {
    background-color: #098b53;
    font-size: 1rem;
    font-weight: 700;
    color: #f0f0f0;
    &:active {
      box-shadow: 0 0 0 5px #098b539e;
    }
  }
}
