.item {
  width: 100%;
  height: 52px;
  position: relative;
  &__buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem 0 5rem;
    position: relative;
    z-index: 2;
  }
  &__button {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    margin: 0.125rem;
    font-weight: 700;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    &.done {
      background-color: #098b53;
      padding-right: 1rem;
      opacity: 1;
      & svg {
        fill: #ffffff;
        margin-right: 4px;
      }
    }
    &.delete {
      background-color: #961811;
      justify-content: end;
      padding-right: 1rem;
      opacity: 1;
      & svg {
        fill: #ffffff;
        margin-right: 4px;
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 1.3rem;
    right: 0;
    bottom: 0;
  }
  &__date {
    position: relative;
    margin-left: 1.3rem;
    color: #acacac;
    font-weight: 700;
    transition: all 0.5s ease-out;
    &::before {
      content: "";
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      position: absolute;
      background-color: #ffffffd9;
      top: 50%;
      left: -50%;
      transform: translate(-10%, -50%);
      border-radius: 50%;
      border: 2px solid #767676;
      transition: all 0.5s ease-out;
    }
  }
  &__name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 1.5rem;
    transform: translateX(0px);
    background: linear-gradient(45deg, #1a1a1a 40%, #898989);

    transition: color 0.5s ease-out;
  }
  &__title {
    text-transform: capitalize;
    transition: all 0.5s ease-out;
    color: #cfcfcf;
  }
  &__category {
    text-transform: capitalize;
    transition: all 0.5s ease-out;
    color: #1a1a1a;
  }
}
.completed {
  .item__date::before {
    border: 2px solid #098b53;
    background-color: #098b53;
  }
  .item__name {
    background: linear-gradient(45deg, #1a1a1a 40%, #098b53);
  }
  .item__title {
  }
  .item__category {
    color: #1a1a1a;
  }
}
