.password-req {
  width: 100%;
  margin-bottom: 1rem;
  &__error {
    position: relative;
    font-size: 14px;
    padding-left: 20px;
    &::before {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      background-color: transparent;
      border-radius: 50%;
      border: 3px solid rgb(210, 34, 34);
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translate(0, -50%);
    }
    &.fixed::before {
      border: 3px solid #71ba32;
    }
  }
}
