.todo-list {
  border-radius: 0.4rem;

  &__heading {
    background-color: #111111;
    padding: 0.5rem;
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
  }
  &__list {
    position: relative;
    height: 100%;
    padding-top: 1.3rem;
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 20px;
      &::before {
        content: "";
        display: block;
        width: 3px;
        height: 90%;
        position: absolute;
        top: 5%;
        border-radius: 1px;
        left: calc(50% - 1.5px);
        background: radial-gradient((#767676, #7676764c, #1a1a1a));
      }
    }
  }
  &__item {
  }
}
